<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scraping Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mission to Scrape Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars</a></p>
    </div>

    <div class="row" id="mars-news">
  <div class="col-md-12">
        <h2>Recent Mars News</h2>
        <h4>{{mars_info.news_title}}</h4>
        <p>{{mars_info.news_p}}</p>
    </div>
  </div>
<div class="row">
  <div class="col-md-8">
    <h2>Featured Mars Image</h2>
    <img src="{{mars_info.most_recent_mars_image}}" class="img-responsive"
      alt="Responsive image">
  </div>


    <div class="row">
      <div class="col-md-12">
              <div class="panel-body">
                  <h4>Mars Weather</h4>
                  <p>{{mars_info.mars_weather}}</p>
              </div>
          </div>


      </div>

    <!-- Mars Facts -->
    <div class="row" id="mars-facts">
      <div class="col-md-12">
        <h4>Mars Facts</h4>
        <table border="1" class="dataframe">
          <thead>
            <tr style="text-align: right;">
              <th></th>
              <th>1</th>
            </tr>
            <tr>
              <th>0</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Equatorial Diameter:</th>
              <td>6,792 km</td>
            </tr>
            <tr>
              <th>Polar Diameter:</th>
              <td>6,752 km</td>
            </tr>
            <tr>
              <th>Mass:</th>
              <td>6.42 x 10^23 kg (10.7% Earth)</td>
            </tr>
            <tr>
              <th>Moons:</th>
              <td>2 (Phobos &amp; Deimos)</td>
            </tr>
            <tr>
              <th>Orbit Distance:</th>
              <td>227,943,824 km (1.52 AU)</td>
            </tr>
            <tr>
              <th>Orbit Period:</th>
              <td>687 days (1.9 years)</td>
            </tr>
            <tr>
              <th>Surface Temperature:</th>
              <td>-153 to 20 °C</td>
            </tr>
            <tr>
              <th>First Record:</th>
              <td>2nd millennium BC</td>
            </tr>
            <tr>
              <th>Recorded By:</th>
              <td>Egyptian astronomers</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
<div class="row" style="margin-top:80px;">
    <h2 class="text-center">Mars Hemispheres</h2>
  </div>


  {% for hemisphere in mars_info.hemispheres %}
    <div class="col-md-6">
        <div class="thumbnail">
        <img src="{{mars_info.hemisphere_image_url}}"
            alt="uh-oh">
        </div>
    </div>
  {% endfor %}

</div>

</div>
</body>

</html>
</body>
</html>